@import "tailwindcss";

@theme {
  --color-electric-emerald: #10B981;
  --color-deep-slate: #0F172A;
}

:root {
  --background: #0F172A;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
